.t{
    padding: 0.2rem;
    width: 70px;
    background: white;
    border:2px solid orange;
    border-radius: 1.2rem;
    display: flex;
    position:fixed;
    top:10px;
    right: 10px;
    z-index: 999;
}
.t-icon{
   font-size: 2rem;
}
.toggle{
    width: 37.5px;
    height: 33.6px;
    background: gray;
    border-radius: 50%;
    position:absolute;
    right: 0;
    cursor: pointer;
}