@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300&family=Grape+Nuts&family=Open+Sans:wght@300&family=Raleway:ital,wght@1,500&display=swap');
*{
  font-family: 'Comfortaa', cursive;;
  
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}